# generate-client.yml
---

- name: Copy client configuration
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: '{{ etcd_cert_dir }}/{{ item }}'
    owner: '{{ etcd_cert_user }}'
    group: '{{ etcd_cert_group }}'
    mode: 0644
  loop:
    - client.json

- name: Check if client certificate exists
  ansible.builtin.stat:
    path: "{{ etcd_cert_dir }}/{{ etcd_cert_client_output_name | default('client') }}.pem"
  register: client_cert

- name: Generate client certificates
  ansible.builtin.shell: |
    cfssl gencert \
        -ca={{ etcd_cert_ca_cert_remote_path | default('ca.pem') }} \
        -ca-key={{ etcd_cert_ca_key_remote_path | default('ca-key.pem') }} \
        -config=ca-config.json \
        -profile={{ etcd_cert_client_profile_name | default('client') }} \
        client.json | cfssljson -bare {{ etcd_cert_client_output_name | default('client') }}
  args:
    chdir: "{{ etcd_cert_dir }}"
  when: not client_cert.stat.exists
